.Parallelogram{
    border: 5px solid black;
    transform: skewX(-30deg);
    height: 80px;
    width: 120px;
}
.Rectangle{
    border: 5px solid black;
    height: 80px;
    width: 120px;
}
.round{
    border: 5px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 25px;
}
.ellipse{
    border: 5px solid black;
    height: 100px;
    width: 150px;
    margin-right: 20px;
    border-radius: 50%;
}
.square{
    border: 5px solid black;
    height: 120px;
    width: 120px;
}
.triangle{
    border: 50px solid transparent;
    border-left: 50px solid black;
    border-bottom: 50px solid black;
    display: block;
    width: 0;
    height: 0;
}
.btnstyle{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}